@media (max-width: 767px) {
  .width_one {
    width: 100%;
  }

  .p {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .image-fluid {
    width: 100%;
  }

  .position {
    position: absolute;
    top: 8rem !important;
    left: 8rem !important;
  }

  .overflow {
    width: 100% !important;
    white-space: nowrap;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    font-weight: 500;
    margin-right: 3rem;
  }

  .center {
    width: 100% !important;
    text-align: center;
  }

  .pl {
    padding-left: 5rem !important;
  }
}
