@tailwind base;
@tailwind components;
@tailwind utilities;

.player360__container {
  max-width: 1800px;
  margin: 0 auto;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.tour__card-section2 {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
}

.all__churches-card-section {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 290px), 1fr));
}
#create_user {
  display: none;
}
